
.site-name{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 700;
    color: chocolate;
}

.profile-section{
    justify-content:left;
    margin: 100px 100px;
}

.introduction-section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    margin-top:50px;
    margin-bottom: 50px;
}

#profile{
    margin-right: 60px;
    margin-bottom: 40px;
}

.introduction>h1{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    text-decoration-line:underline;
    text-underline-position: under;


}
.introduction>p{
    margin-top: 40px;
    margin-bottom: 40px;
}

h1{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    text-decoration-line:underline;
    text-underline-position: under;
}

.imgfile{
    margin-top: 40px;
    margin-bottom: 40px;
}