
.favorite-section{
    font-family: 'Comfortaa', cursive;
    text-decoration-line:underline;
    text-underline-position: under;
}

.favorite-section>img{
    margin-top: 40px;
    border-radius: 50%;
}

