.recent-works{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 700;
    color: lightgray;
    text-align: right;
    letter-spacing: 1px;
    margin-bottom: 95px;
}