/* Frame */

body{ /* 전체페이지 색상 */
    background-color: blanchedalmond;
    
}

.frame{ /* 제일 큰 틀 */
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

/* Navigator */
.navigator{
    display: flex;
    flex-direction:row;
    justify-content: space-between; /* 띄어쓰기 여부 */
    
}

li{
    display: inline;
    align-self: center;
    margin: 0;
    
}

ul{
    display: inline;
    align-self: center;
    margin: 0;    
}

.site-name{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 700;
    color: chocolate;
}

.nav-menu{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500; /* 텍스트 굵기 정도 */
    font-size: 20px;
    color: orange;
    text-decoration: none;
}

.nav-menu:hover{  /* 커서 올렸을 때 색상 바뀌는 거 */
    color: brown;
    transition: 0.5;
}
